body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header h1 {
    float: left;
}

section {
    padding: 20px 0;
    border-bottom: #77aaff 1px solid;
    background: #fff;
}

section:last-child {
    border: none;
}

section .container {
    overflow: hidden;
}

section h2 {
    text-align: center;
    color: #333;
}

section p, section ul {
    font-size: 18px;
    line-height: 1.6;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    background: #77aaff;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
}

.project {
    border: #77aaff 1px solid;
    padding: 20px;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
